* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/site-bg.jpg);
    background-color: rgb(11, 11, 12);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Graphik-Regular';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('../fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


logotext {
    height: 100px;
    width: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 25px;
}

.site-wrapper {
    height: 100%;
    width: 100%;
}

navbar {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sooraj-logo {
    margin-left: 35px;
    margin-top: 10px;
    width: 100px;
}

.soorajlogo-img {
    width: 100px;
    cursor: pointer;
}

navoption {
    margin-top: 35px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.home-text {
    height: auto;
    width: auto;
    text-decoration: none;
    color: rgb(14, 211, 255);
    font-size: 20px;
    font-family: 'Gill Sans';
    transition: color 0.15s;
}

.home-text:hover {
    color: rgb(14, 211, 255);
    cursor: pointer;
}

.home-text:active {
    opacity: 0.7;
}

.work-text {
    height: auto;
    width: auto;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans';
    transition: color 0.15s;
}

.work-text:hover {
    color: rgb(14, 211, 255);
    cursor: pointer;
}

.work-text:active {
    opacity: 0.7;
}

.about-text {
    height: auto;
    width: auto;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans';
    transition: color 0.15s;
}

.about-text:hover {
    color: rgb(14, 211, 255);
    cursor: pointer;
}

.about-text:active {
    opacity: 0.7;
}

.ri-menu-4-fill {
    font-size: 1.5vw;
    height: fit-content;
    display: none;
}

.burger-menu {
    display: none;
    margin: 55px 15px 0 40px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

nav {
    display: none;
}

main {
    min-height: 85vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 150px;
}

.imgtext-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainimage {
    max-width: 32vmin;
    height: auto;
    filter: invert(100%);
}

.hello-text {
    color: rgb(14, 211, 255);
    width: 20px;
    text-align: left;
    font-size: 11vmin;
    font-weight: bold;
    font-family: 'Arial';
    margin-left: 50px;
    transition: color 0.15s;
}

.hello-text:hover {
    color: aquamarine;
    cursor: default;
}

.intro-text {
    color: white;
    text-align: left;
    font-size: 6vmin;
    font-family: 'Arial';
    margin-top: 20px;
    margin-left: 50px;
}

.sep-line {
    height: 0.2px;
    background-color: rgb(51, 51, 51);
    border: 0;
}

footer {
    min-height: 100%;
    min-width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}

.contact-bar {
    padding-bottom: 40px;
    margin-left: 7vmax;
}

.contact {
    color: rgb(14, 211, 255);
    font-size: 40px;
    font-family: 'Graphik-Semibold';
    position: relative;
    padding-bottom: 30px;
}

.contact-options {
    width: fit-content;
    position: relative;
    word-spacing: 15px;
}

.github {
    color: white;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.github:hover {
    color: rgb(14, 211, 255);
}

.instagram {
    color: white;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.instagram:hover {
    color: rgb(14, 211, 255);
}

.email {
    color: white;
    height: max-content;
    width: fit-content;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.email:hover {
    color: rgb(14, 211, 255);
}

.resume {
    color: white;
    width: fit-content;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.resume:hover {
    color: rgb(14, 211, 255);
}

.copyright-text {
    color: white;
    opacity: 0.5;
    font-family: 'Graphik-Regular';
    font-size: 15px;
    margin-left: 61vmax;
    margin-top: -60px;
    position: absolute;
}

/* verySmallScreens (Mobile) */
@media screen and (max-width: 550px) {
    .site-wrapper {
        overflow: visible;
    }

    .site-wrapper.no-scroll {
        overflow: hidden;
    }

    navbar {
        min-height: 100%;
        min-width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sooraj-logo {
        width: 70px;
        margin: 55px 0 0 40px;
    }

    .soorajlogo-img {
        width: 100%;
    }

    navoption {
        display: none;
    }

    nav {
        display: none;
        flex-direction: column;
        position: fixed;
        margin-top: -70px;
        top: 70px;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(50px);
        z-index: 1;
    }

    nav.active {
        display: flex;
        outline: none;
    }


    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 150px auto auto 15vmin;
    }

    nav ul li {
        list-style: none;
        display: flex;
    }

    nav ul li a {
        height: auto;
        width: auto;
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: 'Gill Sans';
    }

    .menu-home {
        color: rgb(14, 211, 255);
    }

    .ri-menu-4-fill {
        font-size: 4vh;
        font-weight: 300;
        height: fit-content;
        margin-top: 50px;
        margin-right: 40px;
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .burger-menu {
        font-size: 4vh;
        font-weight: 300;
        height: fit-content;
        margin-top: 50px;
        margin-right: 40px;
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    main {
        min-height: 80vh;
        min-width: 100vw;
    }

    .imgtext-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 20px;
    }

    .mainimage {
        max-width: 35vmin;
        height: auto;
        filter: invert(100%);
        margin: 0;
    }

    .maintext-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .hello-text {
        color: rgb(14, 211, 255);
        width: fit-content;
        text-align: center;
        font-size: 13vmin;
        font-weight: bold;
        font-family: 'Arial';
        margin: 0;
        transition: color 0.15s;
    }

    .intro-text {
        color: white;
        text-align: center;
        font-size: 7vmin;
        font-family: 'Arial';
        margin: 0;
    }

    .sep-line {
        height: 0.2px;
        background-color: rgb(51, 51, 51);
        border: 0;
    }

    footer {
        min-height: 100%;
        min-width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: left;
        position: relative;
    }

    .contact-bar {
        padding-bottom: 40px;
        margin-left: 10vmax;
    }

    .contact {
        color: rgb(14, 211, 255);
        font-size: 32px;
        font-family: 'Graphik-Semibold';
        position: relative;
        padding-bottom: 20px;
    }

    .contact-options {
        width: fit-content;
        position: relative;
        word-spacing: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .github {
        color: white;
        text-decoration: none;
        font-family: 'Graphik-Semibold';
        cursor: pointer;
        font-weight: bold;
        transition: color 0.30s;
    }

    .github:hover {
        color: inherit;
    }

    .instagram {
        color: white;
        text-decoration: none;
        font-family: 'Graphik-Semibold';
        cursor: pointer;
        font-weight: bold;
        transition: color 0.30s;
    }

    .instagram:hover {
        color: inherit;
    }

    .email {
        color: white;
        height: max-content;
        width: fit-content;
        text-decoration: none;
        font-family: 'Graphik-Semibold';
        cursor: pointer;
        font-weight: bold;
        transition: color 0.30s;
    }

    .email:hover {
        color: inherit;
    }

    .resume {
        color: white;
        width: fit-content;
        text-decoration: none;
        font-family: 'Graphik-Semibold';
        cursor: pointer;
        font-weight: bold;
    }

    .resume:hover {
        color: inherit;
    }

    .copyright-text {
        display: none;
    }
}