* {
    margin: 0;
    padding: 0;
}

body {
    height: 800px;
    width: 100%;
    overflow-x: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('../fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

logotext {
    height: 100px;
    width: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 25px;
}

navbar {
    background-image: url(../images/site-bg.jpg);
    background-color: rgb(11, 11, 12);
    background-size: 2500px;
    height: 125px;
    width: max-content;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 5px;
}

.sooraj-logo {
    width: 100px;
    margin-left: 35px;
    margin-top: 10px;
    cursor: pointer;
}

navoption {
    margin-top: 35px;
    margin-left: 900px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.home-text {
    height: auto;
    width: auto;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans';
    transition: color 0.15s;
}

.home-text:hover {
    color: rgb(14, 211, 255);
    cursor: pointer;
}

.home-text:active {
    opacity: 0.7;
}

.work-text {
    height: auto;
    width: auto;
    text-decoration: none;
    color: rgb(14, 211, 255);
    font-size: 20px;
    font-family: 'Gill Sans';
    transition: color 0.15s;
}

.work-text:hover {
    color: rgb(14, 211, 255);
    cursor: pointer;
}

.work-text:active {
    opacity: 0.7;
}

.about-text {
    height: auto;
    width: auto;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans';
    transition: color 0.15s;
}

.about-text:hover {
    color: rgb(14, 211, 255);
    cursor: pointer;
}

.about-text:active {
    opacity: 0.7;
}

main {
    background-image: url(../images/site-bg.jpg);
    background-color: rgb(11, 11, 12);
    background-size: 2500px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personal-projects {
    color: rgb(14, 211, 255);
    font-family: "Graphik-Semibold";
    font-size: 50px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 200px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: -500px;
}

.irctc-project {
    color: white;
    word-spacing: 2px;
    font-family: "Graphik-Regular";
    font-size: 25px;
    text-decoration: none;
    margin-top: 100px;
    width: 350px;
    transition: text 0.3s;
}

.irctc-project:hover {
    text-decoration: underline;
}

.irctc-brief {
    color: white;
    word-spacing: 2px;
    font-family: "Graphik-Regular";
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    width: 690px;
    margin-top: 20px;
    margin-left: 30px;
}

.finance-project {
    color: white;
    word-spacing: 2px;
    font-family: "Graphik-Regular";
    font-size: 25px;
    text-decoration: none;
    margin-top: 50px;
    width: 200px;
    transition: text 0.3s;
}

.finance-project:hover {
    text-decoration: underline;
}

.finance-brief {
    color: white;
    word-spacing: 2px;
    font-family: "Graphik-Regular";
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    width: 690px;
    margin-top: 20px;
    margin-left: 30px;
}

.password-project {
    color: white;
    word-spacing: 2px;
    font-family: "Graphik-Regular";
    font-size: 25px;
    text-decoration: none;
    margin-top: 50px;
    width: 235px;
    transition: text 0.3s;
}

.password-project:hover {
    text-decoration: underline;
}

.password-brief {
    color: white;
    word-spacing: 2px;
    font-family: "Graphik-Regular";
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    width: 710px;
    margin-top: 20px;
    margin-left: 30px;
}


.sep-line {
    height: 0.2px;
    background-color: rgb(51, 51, 51);
    border: 0;
    margin-bottom: 100px;
}

footer {
    background-image: url(../images/site-bg.jpg);
    background-color: rgb(11, 11, 12);
    background-size: 2500px;
    height: 200px;
}

.contact-bar {
    position: relative;
    top: -100px;
    background-size: 2500px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.contact {
    color: rgb(14, 211, 255);
    font-size: 40px;
    font-family: 'Graphik-Semibold';
    position: relative;
    bottom: -50px;
    margin-bottom: 0px;
    margin-left: 140px;
    cursor: default;
}

.contact-options {
    position: relative;
    bottom: -50px;
    margin-left: 143px;
    word-spacing: 15px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.github {
    color: white;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.github:hover {
    color: rgb(14, 211, 255);
}

.instagram {
    color: white;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.instagram:hover {
    color: rgb(14, 211, 255);
}

.email {
    color: white;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.email:hover {
    color: rgb(14, 211, 255);
}

.resume {
    color: white;
    text-decoration: none;
    font-family: 'Graphik-Semibold';
    cursor: pointer;
    font-weight: bold;
    transition: color 0.30s;
}

.resume:hover {
    color: rgb(14, 211, 255);
}

.copyright-text {
    color: white;
    opacity: 0.5;
    width: fit-content;
    text-decoration: none;
    font-family: 'Graphik-Regular';
    font-size: 15px;
    margin-left: 1050px;
}